PORT=3000
NODE_ENV=development

POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

ENCRYPTION_KEY=

AMO_REDIRECT_URI=
AMO_INTEGRATION_BASE_URL=
AMO_UNINSTALL_WEBHOOK_URL=
AMO_CLIENT_ID=
AMO_CLIENT_SECRET=
